@font-face {
  font-family: "Jura Regular";
  src: url("../fonts/Jura-Medium.ttf");
}

@font-face {
  font-family: "Jura Bold";
  src: url("../fonts/Jura-Bold.ttf");
}

ul {
  padding: 0;
}

body {
  vertical-align: middle;
  font-family: "Jura Regular";
  color: #4a4a4a;
}

h1,
h2 {
  font-weight: normal;
  margin: 0;
  font-family: "Jura Bold";
  border-bottom: 2px solid #0843c3;
  padding-bottom: 2px;
  margin-bottom: 3px;
}

h5 {
  font-weight: normal;
  margin: 0;
  font-family: "Jura Regular";
}

/* a { color: #4a90e2; } */
a {
  color: #0843c3;
  text-decoration: none;
}

img {
  width: 80%;
  max-width: 250px;
  align-self: center;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  width: 80%;
  height: 80%;
  max-width: 1400px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.name-desc {
  display: flex;
  flex-direction: column;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.row-3 {
  display: flex;
  align-items: center;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.img-container {
  width: 50%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.link-list {
  list-style-type: none;
  margin-bottom: 54px;
}

.nav-link {
  font-family: "Jura Bold";
  color: #4a4a4a;
  text-decoration: none;
  border-bottom: 2px solid #0843c3;
  padding-bottom: 2px;
  margin-left: 1rem;
}

.about-container {
  width: 50%;
}

.about {
  width: 100%;
}

.projects-title {
  width: 8rem;
}

.links-title {
  width: 4.5rem;
}

.mobile-buttons {
  display: none;
}

@media (max-width: 700px) {
  .main-container {
    height: 90%;
    padding: 0;
  }

  .navbar {
    display: none;
  }

  .row-3 {
    flex-direction: column;
  }

  .img-container {
    width: 100%;
    margin-top: 30px;
  }

  .about-container {
    width: 100%;
  }

  .row-2 {
    flex-direction: column;
  }

  .links-outer {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }

  .mobile-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
  }

  .nav-link {
    margin-bottom: auto;
    margin-left: 0;
  }
}
