
@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Jura Bold";
  src: url("../fonts/Jura-Bold.ttf");
}

body {
  font-family: "OpenSans Light";
  color: #03163f;
}

.main-container {
  margin: 0 auto;
  padding: .8em;
  max-width: 800px;
  align-self: center;
}

.navbar {
  font-family: "Jura Bold";
  color:#03163f;
  margin-bottom: 1.6em;
}
 
h1, h2, h3 {
  font-weight: normal;
  margin: 0;
  font-family: "Jura Bold";
  padding-bottom: 2px;
  margin-bottom: 3px;
}

a.nav-link {
  text-decoration: underline dotted;
  text-underline-offset: 3px;
}

a {
  color: #0843c3;
  text-decoration: underline dotted;
  text-underline-offset: 3px;
}

a.impersonal {
  color:#03163f;
}

img {
  max-width: 400px;
  align-self: center;
}

.language-, 
.language-julia {
  background: #eeeff1;
  border: 2px solid #ddd;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
} 
