body
{
font-family: 'Jura', sans-serif;
}

div
{
padding:25px;
padding-top:5px;
}

div.intro
{
padding-top:5px;
padding-left:5px;
line-height:1.5;
}

div.footer
{
padding-top:5px;
padding-left:5px;
}

a.main:link,a.main:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#484848;
padding:4px;
text-decoration:none;
}
a.main:hover,a.main:active
{
background-color:#989898;
}

a.subtle:link,a.subtle:visited
{
font-weight:bold;
color:#dc241f;
text-decoration:none;
}
a.subtle:hover,a.subtle:active
{
color:#FFFFFF;
background-color:#989898;
}


ul.b
{
list-style-type:square;
line-height:180%;
}
