@font-face {
  font-family: "Jura Regular";
  src: url("../fonts/Jura-Medium.ttf");
}

@font-face {
  font-family: "Jura Bold";
  src: url("../fonts/Jura-Bold.ttf");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}

body {
  vertical-align: middle;
  font-family: "OpenSans Light";
  color: #03163f;
}

h1 {
  font-weight: normal;
  margin: 0;
  font-family: "Jura Bold";
  border-bottom: 2px solid #0843c3;
  padding-bottom: 2px;
  margin-bottom: 3px;
}

h5 {
  font-weight: normal;
  margin: 0;
  font-family: "Jura Regular";
}

a {
  color: #0843c3;
  text-decoration: underline dotted;
}

img {
  width: 80%;
  max-width: 250px;
  align-self: center;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  width: 80%;
  height: 80%;
  max-width: 1400px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.name-desc {
  display: flex;
  flex-direction: column;
}

.home-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.home-content {
  display: flex;
  align-items: center;
}

.img-container {
  width: 50%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.home-nav-link {
  font-family: "Jura Bold";
  color: #03163f;
  text-decoration: none;
  border-bottom: 2px dotted #0843c3;
  padding-bottom: 2px;
  margin-left: 1rem;
}

.about-container {
  width: 50%;
}

.about {
  width: 100%;
}
